* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
}

.bg-grey {
  background: #f7f7f7;
}



/* navbar */
#banner-text {
  width: 300px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 50%);
}
.icon,
#footer .icon {
  color: rgb(68, 68, 248);
}

a:link{
  text-decoration: none;
  color: black;
}


 /* nav-bar */
#nav-bar {
  position: relative;
}


.nav-bar-container {
  color: black;
  display: flex;
  margin: 18px 0;
  flex-direction: column;
  gap: 16px;
}
.fix-container{
  display: flex;
}
.nav-fix{
  width: 20%;
  height: 100%;
  background-color: aqua;
}

.tt {
  display: flex;
  margin-right: auto;
  flex-direction: row-reverse;
}

.ll {
  margin-right: auto;
  flex-direction: row-reverse;
  display: flex;
}

.cc {
  margin-right: auto;
  flex-direction: row-reverse;
  display: flex;
}

.da {
  margin-right: auto;
  flex-direction: row-reverse;
  display: flex;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
}

.nav-avatar img {
  width: 120px;
  height: 120px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-60%, 50%);
  box-shadow: 0 0 10px rgb(153, 146, 146);
}

/* THÔNG TIN CÁ NHÂN */

#target {
  background-color: rgb(245, 248, 248);
  padding-left: 68px;
}
#personal-info {
  padding-left: 48px ;
  background-color: rgb(239, 248, 248);
}

/* job info */
.job-info-container {
  width: 100%;
  height: auto;
  margin: 24px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 650px 450px 400px 550px 350px 400px;
  gap: 16px;
}

.kinhnghiem {
  grid-row: 1/ 2;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}

.hv {
  grid-row: 2 / 3;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}

.hd {
  grid-row: 3 / 4;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}

.kn {
  grid-row: 4 / 5;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}

.nn {
  grid-row: 5 / 6;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}

.st {
  grid-row: 6 / 7;
  border: 0.5px solid rgba(77, 75, 75, 0.2);
}
.info-icon a {
  color: rgba(68, 68, 248, 0.6);
}




/* job-info */
.job-info-header {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 32px 24px;
  justify-content: space-around;
}
/* KINH NGHIỆM - HỌC VẤN - HOẠT ĐỘNG */

.job-info-body {
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 32px;
}
.job-info-body--dots {
  position: relative;
}

.job-info-body--dots::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: rgb(68, 68, 248);
  border-radius: 50%;
  top: 8px;
}

.job-icon {
  font-size: 32px;
}

.job-info-body li:first-child {
  font-weight: bold;
}

.job-time {
  margin-bottom: 12px;
}

.jobtime--color {
  display: inline-block;
  color: #fff;
  background-color: rgba(68, 68, 248, 0.6);
  padding: 2px 8px;
  border-radius: 12px;
}

/* sở thích */
.st-body {
  font-size: 16px;
  width: 220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;
}

.st-body-flex {
  margin-right: auto;
}

.st-body-icon {
  padding: 12px;
  color: rgba(68, 68, 248, 0.6);
  border: 0.3px solid rgba(68, 68, 248, 0.6);
  border-radius: 50%;
}

.st-body-flex {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* ngoại ngữ - kỹ năng */
.nn-body {
  font-size: 16px;
  margin-left: 32px;
  padding-top: 48px;
}

.body-dots span {
  display: inline-block;
  gap: 35px;
  width: 45px;
  height: 2px;
  margin-right: 10px;
  background-color: rgba(68, 68, 248, 0.6);
}
.en {
  margin-bottom: 32px;
}
.body-dots .span--gray {
  background-color: rgb(221, 210, 210);
}

/* chứng chỉ giải thưởng */

.wed,
.Javascript {
  border-bottom: 0.2px solid #ee3b23a8;
}
.Javascript{
  padding-top: 32px;
}

.section-title{
  width: 60%;
}

.certificate img {
  width: 200px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.certificate-container img {
  margin: 32px auto;
  margin-bottom: 8px;
  width: 250px;
}

.cc-gt-text {
  width: 300px;
  margin: 24px auto;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}


/* dự án */
.da-content-main img {
  width: 100%;
  height: 40%;
}

.da-title {
  width: 70%;
  margin-top: 48px;
  margin-bottom: 32px;
}

.da-content {
  display: flex;
  flex-direction: column;
}

.box {
  height: 500px;
  margin-bottom: 12px;
  border: 0.3px solid rgba(0, 0, 0, 0.2);
}

.A {
  font-size: 16px;
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.B {
  font-size: 16px;
  height: 100px;
  padding-left: 30px;
  border-top: 0.3px solid rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 12px;
  align-items: center;
}

.time {
  color: #fff;
  padding: 4px;
  text-align: center;
  margin: 0;
  background-color: rgba(68, 68, 248, 0.6);
  border-radius: 16px;
}

.mota {
  font-size: 16px;
  padding: 8px 16px;
  border-top: 0.3px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

.lap-fix1 {
  width: 35%;
}
.lap-fix2 {
  width: 65%;
}

/* footer */
.button-icon li {
  margin-left: 24px;
  text-align: center;
  display: inline-block;
}

.button-icon a:link,
.button-icon a:visited {
  text-decoration: none;
}

.button-icon ul {
  height: 80px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.button-icon {
  font-size: 28px;
}
.icon-github-circled {
  font-size: 30px;
}


/* plus */
.plus {
  margin-top: 24px;
  background-color: rgba(187, 243, 225, 0.3);
}

.plus-title {
  font-size: 20px;
  font-weight: bold;
  margin: 32px 24px;
  padding: 12px 0;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
}

.plus-icon {
  font-size: 24px;
}

.team-flex .plus-content {
  border-bottom: none;
}
.plus-content {
  margin: 12px 32px;
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
}
.mobile-fix {
  display: none;
}
.plus-content-container {
  margin-bottom: 32px;
}

.Scopes-content {
  display: flex;
}

.TimeLine .TimeLine-content {
  margin: 12px 24px;
}

.TimeLine-number {
  padding: 12px;
  color: #fff;
  background-color: rgb(141, 108, 233);
  border-radius: 50%;
}

.TimeLine-content {
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-bottom: 0.3px dashed rgba(0, 0, 0, 0.3);
}

